.Green {
	color: pink;
}

.resultTable {
	overflow: scroll;
	height: 500px;
	cursor: pointer;
}

.answer {
  margin: 20px 20px 20px 20px;
}

.app {
  margin: 20px 20px 20px 20px;
}

.title {
  font-size: 200%;
}

.question {
  font-size: 150%;
  height: 100px;
}

  
